.linkStyle {
  margin: 1rem;
  text-decoration: none;
  color: #fff;
  font-size: 0.99em;
  font-weight: bold;
}

.logo {
  margin: 1rem;
  height: 30px;
  width: 100px;
}

.main-nav {
  margin-top: 5px;
}

.main-nav a {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  color: #34495e;
  font-size: 0.99em;
}

.main-nav a:hover {
  color: #718daa;
}

.header {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: #1626bf;
  -webkit-box-shadow: 0 0 14px 0 rgb(22, 38, 191);
  -moz-box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

@media (min-width: 769px) {
  .header,
  .main-nav {
    display: flex;
  }

  .header {
    flex-direction: column;
    align-items: center;
    width: 95vw;
    margin-left: 10px;
  }
}

@media (min-width: 1025px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
}
