.flex {
  display: flex;
  justify-content: center;
}

.flexTypes {
  display: flex;
  justify-content: space-around;
}

.leftColumn {
  float: left;
  width: 100%;
}

.blogImg {
  background-color: rgb(255, 189, 21);
  width: 100%;
  height: 400px;
  padding: 20px;
  border-radius: 10px;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
  -webkit-box-shadow: 0 0 14px 0 rgb(225, 40, 40);
  -moz-box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
