.column {
  text-align: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  margin: 10px;
}

.text {
  text-decoration: none;
  color: #0c1665;
}

img {
  width: 200px;
  height: 200px;
}
